<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StudyBuddy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if not request.resolver_match.url_name in "login,lobby,room" %}
    <header class="site-header">
        <div class="container">
            <img src="{% static 'images/newlog.svg' %}" alt="StudyBuddy Logo_" class="logo_">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% endif %}
        
        </div>
    </header>
    {% endif %}
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>
    

    {% block extra_js %}{% endblock %}
</body>
</html>


